<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Cadastro</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label>Nome / Estabelecimento</label>
                  <input type="text" class="form-control" placeholder="Nome" value="José da Silva">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>CPF/CNPJ</label>
                  <input type="text" class="form-control" placeholder="CNPJ/CPF" value="999.333.444-99">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Endereço</label>
                  <input type="text" class="form-control" placeholder="Endereço" value="Rua da fé, 123">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Cidade</label>
                  <input type="text" class="form-control" placeholder="Cidade" value="Florianópolis">
                </div>
              </div>
              <div class="col-md-2 px-1">
                <div class="form-group">
                  <label>Estado</label>
                  <input type="text" class="form-control" placeholder="Estado" value="SC">
                </div>
              </div>
              <div class="col-md-2 px-1">
                <div class="form-group">
                  <label>País</label>
                  <input type="text" class="form-control" placeholder="País" value="Brasil">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>CEP</label>
                  <input type="number" class="form-control" placeholder="CEP">
                </div>
              </div>
            </div>
            <div class="row">
              <p>Dados Pessoais:</p>
            </div>
            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Idade</label>
                  <input type="text" class="form-control" placeholder="Idade">
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Etnia</label>
                  <input type="text" class="form-control" placeholder="Etnia">
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Tipo Sanguineo</label>
                  <input type="text" class="form-control" placeholder="Tipo Sanguineo">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Perfil</h5>
        </div>
        <div class="card-body">
        <form>
          <div class="card-header">
              <h4 class="card-title">Últimas Consultas</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    Descrição
                  </th>
                  <th>
                    Diagnóstico inicial
                  </th>
                  <th>
                    Prescrição
                  </th>
                  <th>
                    Exame solicitado
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Dor abdominal intensa
                    </td>
                    <td>
                      Princípio de Apêndicite
                    </td>
                    <td>
                      Buscopan
                    </td>
                    <td>
                      U.S. Abdomên
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Dor de cabeça
                    </td>
                    <td>
                      Princípio de gripe
                    </td>
                    <td>
                      Aspirina
                    </td>
                    <td>
                      Não foi necessário
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Dor de cabeça e corisa
                    </td>
                    <td>
                      Princípio de gripe
                    </td>
                    <td>
                      Aspirina
                    </td>
                    <td>
                      Não foi necessário
                    </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row" class="text-right">
            <button class="btn btn-danger">Salvar</button>
            <button class="btn">Excluir</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
